src/main/mule/systems/mongodb-connector-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:mongodb="http://www.mulesoft.org/schema/mule/mongodb"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mongodb http://www.mulesoft.org/schema/mule/mongodb/current/mule-mongodb.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<flow name="mongodb-connector-flowsFlow"
		doc:id="66e823e6-5e90-4721-bb69-a8f231d80e50">
		<ee:transform doc:name="Transform Message"
			doc:id="d9c03a39-8341-492b-8812-643c11e83741">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"msisdn": attributes.uriParams.'msisdn'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="MSISDN" doc:name="Set Variable" doc:id="7845be46-fc6e-4f76-953e-e982e2643602" variableName="collection"/>
		<mongo:find-documents doc:name="Find documents"
			doc:id="0a634c9c-ddf0-4488-a930-0142913b94ef"
			config-ref="MongoDB_Config" collectionName="#[vars.collection]"
			fields='eligible, msisdn'>
			<mongo:query><![CDATA[#[payload]]]></mongo:query>
		</mongo:find-documents>
		<choice doc:name="Choice" doc:id="32d1aa8c-38df-4078-8d67-17c9fc7f2729" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="449dc8c2-7f64-446d-9b9f-85d5cbcaedf9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var result = payload[0]
---
{
  "x-event-code": 1005,
  "x-event-msg": "Success",
  "results": {
      "msisdn": result.msisdn,
      "eligible": result.eligible
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="0a549dc2-f84e-474d-b113-d1b60c30bcc0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
{
  "x-event-code": 4000,
  "x-event-msg": "No Record Found",
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="mongodb-connector-flowsFlow1" doc:id="2053e1b4-3895-4310-acdd-765089342f1f" >
		<ee:transform doc:name="Transform Message" doc:id="c82ba0f4-0566-471d-805f-3224e562feec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"msisdn": attributes.uriParams.'msisdn'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="MSISDN" doc:name="Set Variable" doc:id="9555d68e-985e-4607-bcb3-c53316bb7a46" variableName="collection" />
		<mongo:remove-documents doc:name="Remove documents" doc:id="b495216b-8555-4ec8-b625-d50108946d4b" config-ref="MongoDB_Config" collectionName="#[vars.collection]">
			<mongo:query ><![CDATA[#[payload]]]></mongo:query>
		</mongo:remove-documents>
		<choice doc:name="Choice" doc:id="427b9c50-ed11-4883-8bf8-6ebd02bbb9d0" >
			<when expression="#[payload == 1]">
				<ee:transform doc:name="Transform Message1" doc:id="e1bc0c5a-1b48-40cf-87b9-7b95991fda56">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

---
{
  "x-event-code": 1999,
  "x-event-msg": "MSISDN successfully removed from whitelist"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="b7cc8964-6f64-42b8-a9b5-f70071810532" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
{
  "x-event-code": 4000,
  "x-event-msg": "No Record Found",
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
