src/main/mule/sys-mongodb-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">

	<flow name="sys-mongodb-api-main">
		<http:listener path="/api/*"
			config-ref="HTTP_Listener_Config_sys_mongodb_api">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="sys-mongodb-api-config" />
		<error-handler
			ref="sys-mongodb-api_Shared_Error_Handler" />
	</flow>
	<flow name="delete:\whitelist\(msisdn):sys-mongodb-api-config">
		<flow-ref doc:name="Flow Reference"
			doc:id="4d6fa309-124d-441b-97f1-ae5a909d7561"
			name="mongodb-connector-flowsFlow1" />
	</flow>
	<flow name="get:\whitelist\(msisdn):sys-mongodb-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="6500c66e-657b-45c4-ba83-0e1ba9b122ba" name="mongodb-connector-flowsFlow" />
	</flow>
</mule>
